.parent{
    width: 100%;
    display: flex;
    clear: both;
}
.c1{
    float: left;
    
    width: 65%;
    
}
.c2{
    float: right;
    width: 90%;
    
}
image{
    float: right;
    width: 100%;
    margin-left: 15%;
}
a{
width: 70%;
height: 50px;
border:2px solid #8f8f8f;
outline: 2px solid #fff;
border-radius: 10px;
margin-left: 23%;
margin-top: 20px;
background-color: rgb(153, 107, 165);
color: white;
font-size: 25px;
font-weight: bold;
text-indent: 6px;
font-family: 'Times New Roman', Times, serif;
word-spacing: 3px;
letter-spacing: 8px;
text-decoration: none;
display: block;
text-align: center;
line-height: 50px;
transition: all 0.9s ease-in-out;
}
a:hover{
    cursor: pointer;
    opacity: 1;
    transform: scale(1.1);
    color: #000;
    

}
h2{
    width: 100%;
    margin-top:15%;
    text-transform: capitalize;
    letter-spacing: 4px;
    text-shadow: 8px 4px 12px #6e6d6d;
    text-indent: 80px;
    font-family:  'Times New Roman', Times, serif;
    
}
h4{
    margin-left: 16%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-shadow: 0px 9px 7px #9c959b;
    font-family:  Helvetica, sans-serif;
    text-align: center;
    font-size: 22px;
    line-height: 40px;
}
h4 span{
    color: #ac5ec0;
    font-weight: bold;
    font-size: 25px;
    text-transform: capitalize;
}
.new{
    margin-left: 40px;
}
